$yellow:#EDE810;
$light-grey:#f4f4f4;

.tran {
	transition:0.3s ease;
}

.vertical-padding {
	padding-top:20px;
	padding-bottom:20px;
}

.vertical-padding-large {
	padding-top:40px;
	padding-bottom:40px;
}

.vertical-padding-extra-large {
	padding-top:80px;
	padding-bottom:80px;
}